//main
$lg-nav-width: 260px;
$sm-nav-width: 60px;
$btn-color: $light-blue-400;
$btn-color-hover: $light-blue-300;
$btn-color-click: $light-blue-200;

//nav-menu
$hover-link-color: $light-blue-400;
$link-color: $grey-200;

//content
$h-color: $grey-800;
$has-error-color: $red-600;
$bg-delete: $amber-800;
$bg-delete-hover: $amber-700;
$bg-delete-click: $amber-600;

//alert
$bg-error-alert: $amber-800;
$bg-success-alert: $light-blue-300;
