<ul>
    <li><button class="btn btn-primary btn-block btn-raised" id="nav-exams"><i class="material-icons">create</i><span class="navbar-link">Сдать экзамен</span></button></li>
    <li><button class="btn btn-primary btn-block btn-raised" id="nav-result"><i class="material-icons">list</i><span class="navbar-link">Результаты</span></button></li>
</ul>
