<div class="col-xs-offset-1 col-xs-10 col-sm-8 col-sm-offset-2 errorPage">
    <div class="form-group">
        <legend>Ошибка 404: Страница не найдена</legend>
    </div>
    <object type="image/svg+xml" data="images/404.svg" class="svgError"></object>
    <div class="indexNav"></div>
</div>
