<div class="userGroup">
    <div class="userAvatar hidden-sm"><i class="material-icons" title="{{UserName}}">account_circle</i></div>
    <div><button class="btn nav-button" id="menu-user"><i class="material-icons visible-sm" title="{{UserName}}">account_circle</i><span class="navbar-link hidden-sm">{{UserName}}</span></button></div>

</div>

<hr>
<ul>
    <li><button class="btn nav-button" id="menu-exams"><i class="material-icons">list</i><span class="navbar-link hidden-sm">Список экзаменов</span></button></li>
    <li><button class="btn nav-button" id="menu-addExams"><i class="material-icons">add_circle</i><span class="navbar-link hidden-sm">Добавить экзамен</span></button></li>
    <li><button class="btn nav-button" id="menu-IncompleteExams"><i class="material-icons">mode_edit</i><span class="navbar-link hidden-sm">Ред. экзамены</span></button></li>
    <li><button class="btn nav-button" id="menu-student"><i class="material-icons">face</i><span class="navbar-link hidden-sm">Сдавшие экзамен</span></button></li>

    <hr>
    <li><button class="btn nav-button" id="menu-log-out"><i class="material-icons">lock</i><span class="navbar-link  hidden-sm">Выйти</span></button></li>
</ul>
