<div class="row" id="timerWrapper">
    <div id="timer"></div>
</div>
<div class="row examsWrapper">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="form-group">
            <legend>{{exam}} - Количество вопросов: {{questionsCountPerExam}}</legend>
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10">
        <div id="questionWrapper"></div>
    </div>
    <div class="col-xs-offset-1 col-xs-10">
        <div class="btn-group btn-group-justified btn-group-raised">
            <button class="btn" id="previousQuestion">Назад</button>
            <button class="btn" id="nextQuestion">Вперёд</button>
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10">
        <button class="btn btn-primary btn-block btn-raised" id="sendAnswers">Отправить ответы</button>
    </div>
</div>