<div class="solutionsWrapper">
    <div id="solutions">
        {{#each exams}}
            <div class="well exam editExam showExam">
                <ul>
                    <li class="idAttr">{{attributes.id}}</li>
                    <li>{{attributes.name}}</li>
                </ul>
            </div>
        {{/each}}
    </div>
</div>
