<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf8">
        <title>NetExam</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    </head>
    <body>
        <main class="container-fluid" id="app"></main>
    </body>
</html>
