<ul>
    <li><button class="btn btn-primary btn-block btn-raised" id="nav-log-ig"><i class="material-icons">lock_open</i><span class="navbar-link">Войти</span></button></li>
    <li><button class="btn btn-primary btn-block btn-raised" id="nav-sign-up"><i class="material-icons">person_add</i><span class="navbar-link">Зарегистрироваться</span></button></li>
</ul>
