<div class="col-sm-5">
    <object type="image/svg+xml" data="images/student-icon.svg" class="svgRole"></object>
    <button class="btn btn-lg btn-primary btn-block btn-raised linkRole" id="studentSignUp">СТУДЕНТ</button>
</div>
<div class="col-sm-5 col-sm-offset-2">
    <object type="image/svg+xml" data="images/teacher-icon.svg" class="svgRole"></object>
    <button class="btn btn-lg btn-primary btn-block btn-raised linkRole" id="teacherSignUp">ПРЕПОДАВАТЕЛЬ</button>
</div>
