<ul>
    <li><button class="btn btn-primary btn-block btn-raised" id="nav-exams"><i class="material-icons">list</i><span class="navbar-link">Список экзаменов</span></button></li>
    <li><button class="btn btn-primary btn-block btn-raised" id="nav-addExams"><i class="material-icons">add_circle</i><span class="navbar-link">Добавить экзамен</span></button></li>
    <li><button class="btn btn-primary btn-block btn-raised" id="nav-incompleteExams"><i class="material-icons">mode_edit</i><span class="navbar-link">Ред. экзамены</span></button></li>
    <li><button class="btn btn-primary btn-block btn-raised" id="nav-student"><i class="material-icons">face</i><span class="navbar-link">Сдавшие экзамен</span></button></li>
</ul>
